@charset "UTF-8";
 
 .columns {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;  
}

ul.polaroids li{
	list-style: none;
}

ul.polaroids li a:hover {
    transform: scale(1.25);
    transform: scale(1.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}
ul.polaroids a {
    background: white; 
    float: left;
    margin: 0 0 27px 30px; 
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt", sans-serif; 
    box-shadow: 0 3px 6px rgba(0,0,0,.25);  
    transition: -webkit-transform .15s linear;
    transform: rotate(-2deg); 
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    max-width: 1000px; 
}
ul.polaroids img {
    display: block;
    width: 190px; 
    margin-bottom: 12px;
}
 










